<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    </head>
    <body>
    <% include ./topNav %>
    <div class="content">
        <% if ( openError.length > 0 ) { %>
            <strong>Message: <%= openError %></strong>
        <% } %>
        <%= %>
        <!-- 실제 사용시 로 바꿔주세요<input type="text" id="zipNo" name="zipNo" readonly style="width:100px"> -->
        <form method="POST" enctype="multipart/form-data">
        <div class="create-form">

        </div>
        <div id="map" class="map"></div>
            <table>
                <colgroup>
                    <col style="width:20%"><col>
                </colgroup>
                <tbody>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" name="name" value="name"></td>
                    </tr>
                    <tr>
                        <th>url_key</th>
                        <td>
                            <input type="text" id="url_key" name="url_key" value="url_key">
                            <button type="button" onclick="checkUrl_key()">url확인</button>
                        </td>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <td><input type="textarea" name="introduction" value=""></td>
                    </tr>
                    <tr>
                        <th>커버 사진</th>
                        <td><input type="file" id="img" name="img"></td>
                    </tr>
                    <tr>
                        <th>일반 배송</th>
                        <td><input type="number" name="deliveryFee"></td>
                    </tr>
                    <tr>
                        <th>퀵 배송</th>
                        <td><input type="number" name="quickDeliveryFee"></td>
                    </tr>
                    <tr>
                        <th>우편번호</th>
                        <td>
                            <input type="hidden" id="confmKey" name="confmKey" value=""  >
                            <!-- 실제 사용시 로 바꿔주세요<input type="text" id="zipNo" name="zipNo" readonly style="width:100px"> -->
                            <input type="text" id="zipNo" name="zipNo" style="width:100px">
                            <input type="button"  value="주소검색" onclick="goPopup();">
                        </td>
                    </tr>
                    <tr>
                        <th>전체도로명주소</th>
                        <td><input type="text" id="roadFullAddr" name="roadFullAddr" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>도로명주소</th>
                        <td><input type="text" id="roadAddrPart1" name="roadAddrPart1" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>영문도로명주소</th>
                        <td><input type="text" id="engAddr" name="engAddr" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td>
                            <input type="text" id="addrDetail" name="addrDetail" style="width:40%" value="">
                            <input type="text" id="roadAddrPart2" name="roadAddrPart2"  style="width:40%" value="">
                        </td>
                    </tr>
                    <tr>
                        <th>시도명</th>
                        <td><input type="text" id="siNm" name="siNm" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>시군구명</th>
                        <td><input type="text" id="sggNm" name="sggNm" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>읍면동명</th>
                        <td><input type="text" id="emdNm" name="emdNm" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>도로명</th>
                        <td><input type="text" id="rn" name="rn" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>경도 위도</th>
                        <td>
                            <input type="text" id="lat" name="lat" readonly style="width:85px">
                            <input type="text" id="lng" name="lng" readonly style="width:85px">
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <button type="submit">submit</button>
                            <button type="reset">reset</button>
                        </td>
                    </tr>
                </tbody>
		    </table>
        </form>
    </div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af513262ea2a9b1687b6980d2fb4256d"></script>
    <script>
        function kakaoMap() {
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.604393385110114, 127.03132424971523), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 지도를 클릭한 위치에 표출할 마커입니다
            var marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
            });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            //지도 zoom 기능을 활성화 시킵니다.
            map.setZoomable(true);

            // 지도에 클릭 이벤트를 등록합니다
            // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                // 클릭한 위도, 경도 정보를 가져옵니다
                var latlng = mouseEvent.latLng;

                // 마커 위치를 클릭한 위치로 옮깁니다
                marker.setPosition(latlng);

                // 경도 위도에 값 넣기
                document.getElementById('lat').value = latlng.getLat();
                document.getElementById('lng').value = latlng.getLng();
            });
        }

        function checkUrl_key() {
            var url_key =  document.getElementById('url_key').value;
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if(xhr.status === 200) {
                    var result = JSON.parse(xhr.responseText).result;
                    alert(result);
                } else {
                    console.error(xhr.responseText);
                }
            };
            xhr.open('POST','/store/openStore/checkUrl');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ url_key: url_key }));
        }

        function goPopup(){
	        // 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
            var pop = window.open("http://www.juso.go.kr/addrlink/addrCoordUrl.do","pop","width=570,height=420, scrollbars=yes, resizable=yes");

            // 모바일 웹인 경우, 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
            //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes");
        }
        /** API 서비스 제공항목 확대 (2017.02) **/
        function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
                                , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
            // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
            document.form.roadFullAddr.value = roadFullAddr;
            document.form.roadAddrPart1.value = roadAddrPart1;
            document.form.engAddr.value = engAddr;
            document.form.siNm.value = siNm;
            document.form.sggNm.value = sggNm;
            document.form.emdNm.value = emdNm;
            document.form.rn.value = rn;
            document.form.roadAddrPart2.value = roadAddrPart2;
            document.form.addrDetail.value = addrDetail;
            document.form.zipNo.value = zipNo;
        }
        kakaoMap();
    </script>
    <style>
        .map {
            float: right;
            width: 500px;
            height: 400px;
        }
    </style>
    </body>
</html>
