<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    </head>
    <body>

    <% include ./topNav %>
        <div class="columnFifteen">
            <fieldset>
            <a href="/store/<%= store.url_key %>/product/<%= product.id %>/comment">평점</a>
            </fieldset>
        </div>
        <div class="columnSeventyFive">
            <h1><%= product.name %></h1>
        </div>
        <div class="columnTen">
            <p>hi two</p>
        </div>
        <script>
        </script>
    </body>
</html>
