<!DOCTYPE html>
<html>
    <head>
    <% include ../layout %>
    </head>
    <body>
        <% include ../topNav %>
        <div class="columnFifteen">
        </div>
        <div class="columnSeventyFive">
            <div id="map" class="map"></div>
        </div>
        <div class="columnTen">
        </div>


        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(35.1617, 129.062), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            console.log(mapOption);

            console.log('-----------------------------------hi----------------------------------');
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            var xhr = new XMLHttpRequest();
            var positions = [];
            xhr.onload = function() {
                if(xhr.status === 200) {
                    //http://apis.map.kakao.com/web/sample/multipleMarkerImage/
                    var arr = JSON.parse(xhr.responseText).stores;
                    console.log(arr);

                    for (var i = 0; i < arr.length; i++) {
                        positions.push({
                            title: arr[i].name,
                            latlng: new kakao.maps.LatLng(arr[i].address.lat, arr[i].address.lng),
                        });
                    }

                    var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                    console.log(positions);

                    for (var i = 0; i < positions.length; i ++) {

                        // 마커 이미지의 이미지 크기 입니다
                        var imageSize = new kakao.maps.Size(24, 35);

                        // 마커 이미지를 생성합니다
                        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            position: positions[i].latlng, // 마커를 표시할 위치
                            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                            image : markerImage // 마커 이미지
                        });
                        console.log('Hello world' + marker.position);

                        //marker.setMap(map);
                    }
                } else {
                    console.error(xhr.responseText);
                }
                console.log(arr[1].address);

            };
            xhr.open('POST', '/map/')
            //xhr.setRequestHeader('Content-Type', 'application/json');
            //xhr.send(JSON.stringify({ commentId: commentId, content: content }));
            xhr.send();

            /*
            var centerMarker = new kakao.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
            });

            centerMarker.setMap(map);
            */
            //지도 zoom 기능을 활성화 시킵니다.
            map.setZoomable(true);
        </script>
        <style>
            .map {
                width: 1000px;
                height: 800px;
            }
        </style>
    </body>
</html>
